## Numpy and Pandas

numpy is great for doing numerical processes on arrays

pandas shining ablity is to work with dataframes on tablular data

### Import the libraries!

In [27]:
import numpy as np
import pandas as pd

### Creating some simple fruit stand data

In [28]:
# Creating and initializing a nested list 
# Let's say our fruit stand is selling apples, oranges and grapes

fruit = [[2,3,8,4,10], [5,4,1,6,12], [1,0,2,2,5]]  # Our fruit array is showing how many were sold on each day
price = [0.50,0.75,2.15]

In [29]:
df = pd.DataFrame(fruit, columns=['M', 'Tu', 'W','Th','F']) 
print(df)
#df.head(3)

   M  Tu  W  Th   F
0  2   3  8   4  10
1  5   4  1   6  12
2  1   0  2   2   5

### Doing a pratical array calculation with numpy

In [30]:
# Creating numpy arrays for numerical calculations 
fruit = np.array([[2,3,8,4,10], [5,4,1,6,12], [1,0,2,2,5]]) 
price = np.array([0.50,0.75,2.15])

#print(fruit.dtype, price.dtype)

print(price@fruit)   # This will print out how much money was made each day

[ 6.9   4.5   9.05 10.8  24.75]

### Using a pandas dataframe

Now we'll pull in some data from an excel spread sheet!

Download this file from https://github.com/PyFASTucd/NotebookLibrary/tree/main/data

In [41]:
df = pd.read_excel('..\data\COTREXTrails_DenverArea_Table_reduced.xls') # Be sure to change this path to point to your data

df.head()  # The default is to look at the first 5 rows

,name,type,hiking,horse,bike,motorcycle,atv,ohv_gt_50,highway_ve,dogs,access,min_elevat,max_elevat,length_mi_,Shape_Length
0,Turkey Track Road,Road,,,,yes,yes,yes,yes,,,2348.259766,2533.154541,3.4,5470.553253
1,,Trail,yes,,yes,no,no,no,no,leashed,,1645.169189,1645.541016,0.1,128.739489
2,,Trail,yes,,yes,no,no,no,no,leashed,,1605.059082,1605.582886,0.0,60.587207
3,,Trail,yes,,yes,no,no,no,no,leashed,,1604.683960,1604.965088,0.0,15.045328
4,,Trail,yes,,yes,no,no,no,no,leashed,,1604.671997,1605.205444,0.0,64.534193